<% @subtabs = %w( doozque redis keys ) %>

<% if params[:key] %>

<%= partial doozque.redis.type(params[:key]).eql?("string") ? :key_string : :key_sets %>

<% elsif params[:id] == "doozque" %>

  <h1><%= doozque %></h1>
  <table class='stats'>
  <% for key, value in doozque.info.to_a.sort_by { |i| i[0].to_s } %>
    <tr>
      <th>
        <%= key %>
      </th>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>

<% elsif params[:id] == 'redis' %>

  <h1><%= doozque.redis_id %></h1>
  <table class='stats'>
  <% for key, value in doozque.redis.info.to_a.sort_by { |i| i[0].to_s } %>
    <tr>
      <th>
        <%= key %>
      </th>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>

<% elsif params[:id] == 'keys' %>

  <h1>Keys owned by <%= doozque %></h1>
  <p class='sub'>(All keys are actually prefixed with "<%= Doozque.redis.namespace %>:")</p>
  <table class='stats'>
    <tr>
      <th>key</th>
      <th>type</th>
      <th>size</th>
    </tr>
  <% for key in doozque.keys.sort %>
    <tr>
      <th>
        <a href="<%=u "/stats/keys/#{key}" %>"><%= key %></a>
      </th>
      <td><%= doozque.redis.type key %></td>
      <td><%= redis_get_size key %></td>
    </tr>
  <% end %>
  </table>

<% else %>

<% end %>
